body{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #47354A;
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
}

header{
    padding: 10px 15px;
    overflow: hidden;
}

section.intro{
    padding: 10px 10px 20px 10px;
}

section.titles{
    overflow: hidden;
    margin: 0 auto;
}

section.titles h1{
    font-size: 64px;
    font-weight: 600;
}

section.analysis {
    overflow: hidden;
}

section.analysis div{
    width: 50%;
    float: left;
    text-align: center;
    /* padding: 50px 20px 40px 20px; */
} 

div img {
  position: relative;
  z-index: -1;
  transition: all 1s;
}

div:hover img {
  transform: scale(1.2);
}